@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:900");
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');




body {
  scroll-behavior: smooth;
  background: #8ead93;
}
.nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  overflow: hidden;
  position: fixed;
  top:0;
  width:100%;
  text-shadow: 1px 1px #5A3F37;
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Sen', sans-serif;
  
}

.nav li {
  float: left; /*1*/
}

.nav > li a {
  display: block; /*1*/
  padding: 12px 18px; /*2*/
  text-decoration: none; /*3*/
  color:white; /*4*/
  border-bottom: 8px solid #eee;
  transition: all ease .5s;
  
}

.nav:hover > li a {
  opacity: .5;
  transition: all ease .5s;
}

.nav > li:hover a {
  opacity: 1;
  color: #2C7744;
  border-color: #CFDEF3;
}

a:link,a:visited{
  color:black;
}

.diagonal-box{
  background-image:linear-gradient(45deg, #A5CC82, #858263);
  transform: skewY(-5deg);
}

#content{
  max-width: 60em;
  margin: 0 auto;
  transform: skewY(5deg);
}
img{
  padding: 10px;
}
h1 {
  font: 900 120px/0.75 "Source Sans Pro", Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding-top: 10%;
  letter-spacing: -6px;

  font-weight: bold;
  font-size: 90pt;
  text-shadow: 1px 1px 1px #66644d, 2px 2px 1px #66644d, 3px 3px 1px #66644d,
    4px 4px 1px #66644d, 5px 5px 1px #66644d, 6px 6px 1px #66644d,
    7px 7px 1px #66644d, 8px 8px 1px #66644d, 9px 9px 1px #66644d,
    10px 10px 1px #66644d, 11px 11px 1px #66644d, 12px 12px 1px #66644d,
    13px 13px 1px #66644d, 14px 14px 1px #66644d, 15px 15px 1px #66644d,
    16px 16px 1px #66644d, 17px 17px 1px #66644d, 18px 18px 1px #66644d,
    19px 19px 1px #66644d, 20px 20px 1px #66644d, 21px 21px 1px #66644d,
    22px 22px 1px #66644d, 23px 23px 1px #66644d, 24px 24px 1px #66644d,
    25px 25px 1px #66644d, 26px 26px 1px #66644d, 27px 27px 1px #66644d,
    28px 28px 1px #66644d, 29px 29px 1px #66644d, 30px 30px 1px #66644d;

  -webkit-transform: skewY(-25deg);
  -moz-transform: skewY(-25deg);
  transform: skewY(-25deg);

  -webkit-backface-visibility: hidden;
}

.title {
  padding-top: 200px;
  padding-bottom: 280px;
}
#capstone-title{
  padding-bottom: 200px;
  
}
.general {
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Roboto', sans-serif;
}

.subhead {
  color: #66644d;
  text-shadow: 2px 1px 1px white;
}
#intro {
  padding: 90px;
}
h2 {
  font-size: 30pt;
  font-family: 'Sen', sans-serif;

}

.response {
  font-size: 15pt;
  color: white;
  padding-bottom: 50px;
}

h6 {
  padding-top: 40px;
  padding-left: 20px;
  color: white;
}

span {
  font-weight: 900;
  color: #66644d;
}

.gallery {
  padding: 100px;
}

.btn-default {
  background-color: #8ead93;
  color: white;
}
.box {
  padding: 40px;
}
.card {
  padding: 10px;
}

.copyright{
  color:white;
  padding-left: 10px;
}

#pic{
  justify-content: center;
  display: flex;
  flex-direction: inherit;
}

#minlipic{
  width: 35%;
  float: right;
  padding-bottom: 30px;
}
#simpleline{
  color:white;
  font-size: 1.5rem;
  text-align:right;
  letter-spacing: 0.2rem;
  font-family: 'Roboto', sans-serif;
}

.card-title{
  font-family: 'Sen', sans-serif;
}

.card-text{
  font-family: 'Roboto', sans-serif;
}

#title{
  padding-top: 200px;
  padding-bottom: 328px;
}

